sudo: false
language: android
jdk: oraclejdk8
android:
  components:
  - platform-tools
  - tools
  - build-tools-25.0.2
  - android-23
before_install:
- chmod +x gradlew
- echo y | android update sdk --no-ui --all --filter "tool,extra-android-m2repository,extra-android-support,extra-google-google_play_services,extra-google-m2repository"
- echo y | $ANDROID_HOME/tools/bin/sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"
script:
- ./gradlew clean assembleRelease
after_success:
- sh set_tags.sh
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
deploy:
  provider: releases
  api_key:
    secure: ZQp98uFWSbramrC6ar74CU9zKzDWH5EWuU7h7br+WHatU6N1mqlixs29z1fiWFShSj+A1VCjctTuTkCE8SqvoiUWHsIq5JCpf8Bh1+mPQupfx/fgo29O7A1PUbviIBIeY2Mu82nf7+oQrONIl1eIDZWo7jvpWvAZXCmE28vN+DXsgWmSyVKlRUAQgCxiYjG3jXi4Adhd0vcc2h+1LlYqBpydX1/Z1e3DKn4TCVbVqdIxAwXNTkrkK6/Wc+rmj848Jekh55oQJHrFu13M776pxDFXbkkzvbnNYvhlzGkHJ+v5X2KGrSIombAo7qCAgy94zC0UHqBJK+2wUpcK7RODASS+GsBjQ0JoOxL4g5mhZxxNXuaCsIjNbPqOjEw/Vx/1IgYuvW3xIQ+0tyIft8ZqIbboPVRYpqluMrhhbbHIXIpCgCWbZqEALcf6Hsyh5AX0nDy55vQf7+WqmbkZfq6BrTyByi2Aced5E4tmfbfxBJvKTXeUpCYaE0irjYfJVIbhUkmduBxYN/qmQeE3NlJEDdENGhBDjYTMnUxTOAJKu4JfFhtVpH9OYn9Helci8lSdmF2ZzDWal2i+nohikY1EK4udbb6EzFJ204mUsim6V/so4MdUg8IKzKtPtt6iR/vhlcRFPu/35WJSWSC4HMe0d+cJBeiv/auuicDtxNtpihQ=
  file: app/app*release*.apk
  file_glob: "true"
  skip_cleanup: true
  on:
    branch: master
    repo: therickys93/BarOrderAndroid
